@page "/playerstatistics"
@inject HttpClient httpClient

<PageTitle>Statistics</PageTitle>
<h3>Player Statistics</h3>

@if (playerStatisticsList != null && playerStatisticsList.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Player Name</th>
            <th>Number of Duels Played</th>
            <th>Current Elo Rating</th>
            <th>Number of Duels Won</th>
            <th>Number of Duels Lost</th>
            <th>Number of Duels Draw</th>
            <th>Last Duel Played At</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playerStatistics in playerStatisticsList)
        {
            <tr>
                <td>@playerStatistics.PlayerName</td>
                <td>@playerStatistics.NumberOfDuelsPlayed</td>
                <td>@playerStatistics.CurrentEloRating</td>
                <td>@playerStatistics.NumberOfDuelsWon</td>
                <td>@playerStatistics.NumberOfDuelsLost</td>
                <td>@playerStatistics.NumberOfDuelsDraw</td>
                <td>@playerStatistics.LastDuelPlayedAt</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No player statistics available.</p>
}

@code {
    private List<PlayerStatistics> playerStatisticsList;

    protected override async Task OnInitializedAsync()
    {
        await LoadPlayerStatistics();
    }

    private async Task LoadPlayerStatistics()
    {
        playerStatisticsList = await httpClient.GetFromJsonAsync<List<PlayerStatistics>>("Statistics");
    }
}
